.reg-form {
    display: grid;
}

.field-label {
    display: block;
    text-align: center;
}

footer {
    color: #fff
}

body {
    margin: 0;
    color: #151719;
    background-color: #D2FDFF;
    /* Растягиваем body по высоте html */
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

input {
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    display: block;
}

#role {
    border-radius: 10px;
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    background: #ffff;
    color: black;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

#submit_friend {
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    background: #B4DFE5;
    color: black;
    outline: none;
    border: 0 solid;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

#submit {
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    background: #B4DFE5;
    color: black;
    outline: none;
    border: 0 solid;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

#submit_user {
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    background: #B4DFE5;
    color: black;
    outline: none;
    border: 0 solid;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

#submit_pass {
    position: relative;
    width: 230px;
    padding: 10px;
    margin: 0 auto;
    background: #B4DFE5;
    color: black;
    outline: none;
    border: 0 solid;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

#confirm_password {

    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    display: block;
}

input[type="number"] {
    padding: 0;
}

.checkbox {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-left: 0;
    margin-right: 5%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
}

.checkbox:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 20%));
    grid-gap: 5px;
    padding: 10px;
}

.grid > div {
    background: #FBE8A6;
    padding: 1.5rem;
    border-radius: 1rem;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49%, 49%));
    grid-gap: 1px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 19%));
    grid-gap: 5px;
}

.btn {
    display: grid;
    font-size: 0.875rem;
    padding: 0.375rem 0.25rem;
    justify-content: center;
    align-items: center;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49%, 49%));
    grid-gap: 20px;
}
.request {
background:#303C6C;
padding: 10px
}
.grid3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 30%));
    grid-gap: 20px;
}
.grid3 > div {
    background: #FBE8A6;
    padding: 1.5rem;
    border-radius: 1rem;
}
.form-control-file {
    display: grid;
    font-size: 0.875rem;
    padding: 0.375rem 0.25rem;
    justify-content: left;
    align-items: center;
}
.box-text {
    background: #FBE8A6;
    padding: 1.5rem;
    border-radius: 1rem;
}