.reg-form {
    display: grid;
}

.field-label {
    display: block;
    text-align: center;
}
footer {
    color: #fff
}

body {
    margin: 0;
    color: #151719;
    background-color: #D2FDFF;
    /* Растягиваем body по высоте html */
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

input {
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    display: block;
}


#role {
    border-radius: 10px;
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    background: #ffff;
    color: black;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

#submit {
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    background: #B4DFE5;
    color: black;
    outline: none;
    border: 0 solid;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

#school_subject_1 {
    border-radius: 10px;
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    background: #ffff;
    color: black;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

#school_subject_2 {
    border-radius: 10px;
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    background: #ffff;
    color: black;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

#submit2 {
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    background: #B4DFE5;
    color: black;
    outline: none;
    border: 0 solid;
    cursor: pointer;
    font-weight: bold;
    display: block;
}