<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>{{ title }}</title>
</head>
<body>
{% block header %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark" data-bs-theme="dark" style="background-color: #FBE8A6">
        <div class="container-fluid" style="background-color: #FBE8A6">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo.png" alt="ЕГЭпасс" width="300" height="150">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar-dark"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav mr-auto ">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link text-dark">Здравствуйте, {{current_user.username}}!</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="/user/{{id}}">Моя страница</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-dark" href="{{ url_for('subjects') }}">Предметы</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-dark" href="{{ url_for('setting') }}">Настройки</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-dark" href="{{ url_for('logout') }}">Выйти</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link text-dark" href="{{ url_for('login') }}">Войти</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" href="{{ url_for('register') }}">Зарегистрироваться</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %}
{% block content %}
{% endblock %}
</body>
<footer class="bg-light text-center text-lg-start" style="margin-top: 10%">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(48, 60, 108);">
        Сервис по подготовке к экзаменам ЕГЭпасс &copy; 2023 Все права защищены.
        <a class="text-white" href="#">EGEpass</a>
    </div>
    <!-- Copyright -->
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
<script>
    $(function () {
        var navMain = $(".navbar-collapse");
        navMain.on("click", "a:not([data-toggle])", null, function () {
            navMain.collapse('hide');
        });
    });
</script>
</html>