{% extends 'base.html' %}
{% block content %}
<figure class="text-end text-white" style="background-color: #303C6C">
    <blockquote class="blockquote">
        <p>Per aspera ad astra</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Луций Аннею Сенека
    </figcaption>
</figure>
<h1 class="text-center">EГЭpass</h1>
<div class="fiftyfifty">
    <div>
        <p><strong>ЕГЭpass - это сервис, который поможет тебе максимально эффективно готовиться к экзамену ЕГЭ.</strong>
            С его помощью ты сможешь добавлять статистику своих пробных тестов по разным предметам, чтобы отслеживать
            свой прогресс и увидеть свои сильные и слабые стороны.</p>
    </div>
    <div>
        <p><strong>В ЕГЭpass есть возможность просмотра полной статистики и разных графиков по твоим пробникам</strong>,
            что поможет тебе более глубоко проанализировать свои результаты и определить, на какие аспекты нужно
            обратить больше внимания при подготовке к экзамену.</p>
    </div>
    <div>
        <p><strong> В сервисе есть удобный функционал добавления в друзья учителей </strong>. Это позволит
            учителям отслеживать
            твою статистику на отдельной странице и давать более точные рекомендации по подготовке к экзамену, исходя из
            твоих результатов на пробных тестах.</p>
    </div>
    <div>
        <p><strong>ЕГЭpass поможет тебе сэкономить время на поиск и анализ результатов тестов</strong>, а также получить
            более
            качественные рекомендации от учителей, что в свою очередь повысит вероятность успешной сдачи экзамена
            ЕГЭ.</p>
    </div>
</div>
{% endblock %}