{% extends 'base.html' %}
    {% block content %}
    <figure class="text-end text-white" style="background-color: #303C6C">
      <blockquote class="blockquote">
        <p>Per aspera ad astra</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Луций Аннею Сенека
      </figcaption>
    </figure>
    <h2>Описание сервиса</h2>
    <p>Наш сервис предназначен для помощи в подготовке к экзамену. Мы занимаемся ведением статистики по пробникам, которые можно написать как в школе, так и дома. Наш сервис полезен как для учителей, так и для учеников.</p>
    <h2>Преимущества сервиса</h2>
    <ul>
        <li>Возможность вести статистику по пробникам в одном месте</li>
        <li>Простой и понятный интерфейс</li>
        <li>Большой объем текста для учебных материалов</li>
    </ul>
    {% endblock %}