{% extends 'base.html' %}
{% block content %}
{% if username %}
<h1 class="text-center">{{ username.title() }}</h1>
{% else %}
<h1></h1>
{% endif %}
<div class="grid1">
    <div>
        <h1 class="fs-1 fw-bold text-center">Статистика</h1>
        <h3>Средний балл за пробники: {{ avg_score }}</h3>
        <h3>Лучший балл за пробники: {{ best_score }}</h3>
        <h3>Худший балл за пробники: {{ worst_score }}</h3>
        <h3>Всего написано пробников: <em>{{ len(all_exams) }}</em></h3>
        <a href="/all_samples/{{title}}/{{student_id}}" class="btn btn-outline-primary" >Все пробники</a>
        {%if username%}
           <a href="{{student_id}}/files" class="btn btn-outline-primary">Файлы</a>
        {%endif%}
    </div>
    <fieldset>
        <legend class="fs-1 fw-bold text-center">Средний балл за каждое задание</legend>
        <div class="grid">
            {% for task in all_tasks%}
            <div>
                <label>№{{ task }}: {{ round(all_tasks[task], 2) }} из {{ subject_tasks[task - 1] }}</label>
            </div>
            {% endfor %}
        </div>
    </fieldset>
</div>
{% if username %}
    <div class="grid2">
    <div id="primary-graph">
        <script>
            var graph = {{ primaryJSON | safe }};
            Plotly.newPlot('primary-graph', graph.data, graph.layout);
        </script>
    </div>
    {% if subject != 'математика (базовый)' %}
    <div id="secondory-graph">
        <script>
            var graph = {{ secondoryJSON | safe }};
            Plotly.newPlot('secondory-graph', graph.data, graph.layout);
        </script>
    </div>
    </div>
    {% endif %}
{% endif %}
{% endblock %}