{% extends 'base.html'%}
{% block content %}
<div class="center">
    <h1 class="text-center">Имя</h1>
    <p class="box-text text-center fs-3">{{ name }}</p>
</div>
<div class="center">
    <h1 class="text-center">Роль</h1>
    <p class="box-text text-center fs-3">{{ role }}</p>
</div>
<div class="center">
    <h1 class="text-center">Школа</h1>
    <p class="box-text text-center fs-3">{{ school }}</p>
</div>
{% if role == 'Учитель' %}
<form>
    <div class="center">
        <h1> </h1>
        <h1> </h1>
        <h1 class="text-center">Добавление в друзья</h1>
    </div>
    <div class="form-group">
        {{ form.friend_req.label(class="field-label") }} {{ form.friend_req }}
    </div>
    <div>
        <h1> </h1>
        {{ form.submit_friend(class="btn btn-primary") }}
    </div>
</form>
{% elif role == 'Ученик' %}
<form>
    <div>
        <button type="submit" class="btn btn-primary" class="align-center">Принять заявки</button>
    </div>
</form>
{% endif %}
{% endblock %}