{% extends 'base.html'%}
{% block content %}
<div class="center">
    <h1 class="text-center">Имя</h1>
    <p class="box-text text-center fs-3">{{ name }}</p>
</div>
<div class="center">
    <h1 class="text-center">Роль</h1>
    <p class="box-text text-center fs-3">{{ role }}</p>
</div>
<div class="center">
    <h1 class="text-center">Школа</h1>
    <p class="box-text text-center fs-3">{{ school }}</p>
</div>
{% if not is_request and current_id != id and current_user_role == 'student' and role == 'Учитель' %}
<form method=post action="/user/{{id}}">
    {{ form.hidden_tag() }}
    {{ form.submit(class="btn btn-primary") }}
</form>
{% for msg in get_flashed_messages(True) %}
<div class="alert alert-danger" role="success">{{msg}}</div>
{% endfor %}
{% elif current_id == id and role == "Учитель" %}
<h1 class="text-center">Заявки в друзья</h1>
<form method=post action="/user/{{id}}">
    {{ form.hidden_tag() }}
    <div class="request">
        {% for request in requestions %}
        <div class="grid3">
            <div>
                <h2 class="text-center">Имя {{find_user(request.student_id).username}}</h2>
            </div>
            <div>
                <h2 class="text-center">Школа {{find_user(request.student_id).school}}</h2>
            </div>
            {{ form.submit_friend(value=find_user(request.student_id).id) }}
        </div>
        {% endfor %}
    </div>
</form>
{% endif %}
{% endblock %}